{% extends "home.html" %}
{%  load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>About</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	</head>
    {% block content %}
	<body>
		<!-- Main -->
			<section id="main" >
				<div class="inner">
					<header class="major special">
						<h1>About</h1>
					</header>
					<a href="#" class="image fit"><img  style=" float: right;  margin: 7px 0 7px 7px;" src="{% static "images/m1.jpg" %}" alt="" /></a>
                    <p>В современном мире ведущей причиной смертности в развитых странах являются сердечно-сосудистые заболевания.
                        Эти заболевания вызванны атеросклеротическим поражением основных артерий (коронарных артерий,
                        головного мозга), являются основной причиной смерти во всем мире:
                        ни одна другая причина смерти не вызывает такого количества людей ежегодно, как болезни сердца.

                    </p>
                    <p>
                        Большинство сердечно-сосудистых заболеваний можно предотвратить путем принятия мер в отношении таких факторов риска,
                        таких как употребление табака, нездоровое питание и ожирение, отсутствие физической активности
                        и вредное употребления алкоголя, с помощью стратегий, охватывающих все население.
                    </p>
                    <p>
                        Поэтому раннее предсказание болезни является предпосылкой счастливой и долгой жизни.
                        И для решения этой проблемы были проведены исследования и разработан веб-сайт для прогнозирования болезней сердца.
                    </p>
                    <p>
                        Из всех приложений машинного обучения, диагностика любого серьезного заболевания с помощью черного ящика всегда будет трудно продать.
                        Если выход из модели - это конкретный курс лечения (потенциально с побочными эффектами), или операция,
                        или отсутствие лечения, люди захотят знать почему.
                        И поэтому мы постарались и решили эту задачку.
                        Наш алгоритм был успешно обучен и показал отличные результаты на независимом тестовом образце.
                        А теперь мы предоставляем Вам возможность опробовать нашу систему.
                    </p>
				</div>
			</section>
	</body>
{% endblock %}
</html>