{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Home page{% endblock %}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
    <style>
        div > p > label {
            color: black !important;
            margin-left: 20px;
        }

        div > p > input {
            width: 100% !important;
        }

        .image.fit img {
            width: 20%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .i-icon-2 {
    display: inline-block;
    text-transform: none;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

    </style>

</head>
<body>

<header id="header">
    <div class="inner">
        <a href="/" class="logo">Machine learning</a>
        <nav id="nav">
            <a href="/">Home</a>
            <a href="{% url 'about' %}">About</a>
            <a href="{% url 'email' %}">Contact</a>
        </nav>
    </div>
</header>
<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>
{% block content %}

    <!-- Banner -->
    <section id="banner" style="background-image: url('{% static 'images/heart.jpg' %}')">
        <div class="inner">
            <h1 style="color: #ffffff">Course Work :
                <span>Predict Heart Disease using Machine learning algorithm:</span></h1>
            <ul class="actions">
                <li><a href="{% url 'forms' %}" class="button alt" style="background-color: #444444">Get Started</a>
                </li>
            </ul>
        </div>
    </section>
    <!-- One -->
    <section id="one">
        <div class="inner">
            <header>
                <h2>About</h2>
            </header>
            <div style='font-family: "Lato",sant-serif;'>
                <p>In today's world, the leading cause of death among developed countries is cardiovascular disease.
                    Cardiovascular diseases caused by atherosclerotic lesions of the main arteries (coronary arteries,
                    brain) are the main cause of death worldwide: no other cause of death causes as many people die
                    annually as from heart disease.</p>
                <p>Early prediction of illness is therefore a prerequisite for a happy and long life. And to solve this
                    problem, research has been carried out and a website has been developed to forecast heart
                    disease.</p>
                <p>Early prediction of illness is therefore a prerequisite for a happy and long life. And to solve this
                    problem, research has been carried out and a website has been developed to forecast heart
                    disease.</p>

            </div>
            <ul class="actions">
                <li><a href="#" class="button alt">Learn More</a></li>
            </ul>
        </div>
    </section>

    <!-- Two -->
    <section id="two">
        <div class="inner">
            <article>
                <div class="content">
                    <header>
                        <h3>REST API</h3>
                    </header>
                    <div class="image fit">
                        <img src="{% static "images/r.jpg" %}" alt="My image">
                    </div>
                    <p>The website provides a rest api if you need to process several patients at once and need to do so
                        quickly.</p>
                </div>
            </article>
            <article class="alt">
                <div class="content">
                    <header>
                        <h3>User friendly interface</h3>
                    </header>
                    <div class="image fit">
                        <img src="{% static "images/ui.png" %}" alt="My  second image">
                    </div>
                    <p>You can easily enter your data and get the result of processing. your data will not fall into the
                        wrong hands.</p>
                </div>
            </article>
        </div>
    </section>
{% endblock %}
<section id="footer">
    <div class="inner">
        <header>
            <h2>Contact us</h2>
        </header>


        <div class="footer-full__social-list"><a class="footer-full__social-link" href="https://vk.com/ozby_books"><span
                class="i-icon-2 i-icon-2_vk-small"></span></a><a class="footer-full__social-link"
                                                                 href="https://www.instagram.com/myozby/"><span
                class="i-icon-2 i-icon-2_ig-small"></span></a><a class="footer-full__social-link"
                                                                 href="https://www.facebook.com/pages/OZby-%D0%B8%D0%BD%D1%82%D0%B5%D1%80%D0%BD%D0%B5%D1%82-%D0%BC%D0%B0%D0%B3%D0%B0%D0%B7%D0%B8%D0%BD/106360326097455?sk=wall"><span
                class="i-icon-2 i-icon-2_fb-small"></span></a>
        </div>

        <div class="copyright">
            <p>&copy; Ivashkevich Maksim</p>
        </div>
    </div>
</section>
<!-- Scripts -->
<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "js/skel.min.js" %}"></script>
<script src="{% static "js/util.js" %}"></script>
<script src="{% static "js/main.js" %}"></script>

</body>
</html>