{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Home page{% endblock %}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
    <style>
        div > p > label {
            color: black !important;
            margin-left: 20px;
        }

        div > p > input {
            width: 100% !important;
        }

    </style>

</head>
<body>

<header id="header">
    <div class="inner">
        <a href="/" class="logo">Machine learning</a>
        <nav id="nav">
            <a href="/">Home</a>
            <a href="{% url 'about' %}">About</a>
            <a href="elements.html">Contact</a>
        </nav>
    </div>
</header>
<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>
{% block content %}

    <!-- Banner -->
    <section id="banner" style="background-image: url('{% static 'images/heart.jpg' %}')">
        <div class="inner">
            <h1>Machine learning algorithm: <span>Predict Heart Disease</span></h1>
            <ul class="actions">
                <li><a href="{% url 'forms' %}" class="button alt">Get Started</a></li>
            </ul>
        </div>
    </section>
    <!-- One -->
    <section id="one">
        <div class="inner">
            <header>
                <h2>About</h2>
            </header>
            <p>Suspendisse mauris. Fusce accumsan mollis eros. Pellentesque a diam sit amet mi ullamcorper vehicula.
                Integer adipiscin sem. Nullam quis massa sit amet nibh viverra malesuada. Nunc sem lacus, accumsan quis,
                faucibus non, congue vel, arcu, erisque hendrerit tellus. Integer sagittis. Vivamus a mauris eget arcu
                gravida tristique. Nunc iaculis mi in ante.</p>
            <ul class="actions">
                <li><a href="#" class="button alt">Learn More</a></li>
            </ul>
        </div>
    </section>

    <!-- Two -->
    <section id="two">
        <div class="inner">
            <article>
                <div class="content">
                    <header>
                        <h3>Pellentesque adipis</h3>
                    </header>
                    <div class="image fit">
                        <img src="{% static "images/pic01.jpg" %}" alt="My image">
                    </div>
                    <p>Cumsan mollis eros. Pellentesque a diam sit amet mi magna ullamcorper vehicula. Integer adipiscin
                        sem. Nullam quis massa sit amet lorem ipsum feugiat tempus.</p>
                </div>
            </article>
            <article class="alt">
                <div class="content">
                    <header>
                        <h3>Morbi interdum mol</h3>
                    </header>
                    <div class="image fit">
                        <img src="{% static "images/pic02.jpg" %}" alt="My  second image">
                    </div>
                    <p>Cumsan mollis eros. Pellentesque a diam sit amet mi magna ullamcorper vehicula. Integer adipiscin
                        sem. Nullam quis massa sit amet lorem ipsum feugiat tempus.</p>
                </div>
            </article>
        </div>
    </section>

    <!-- Three -->
    <section id="three">
        <div class="inner">
            <article>
                <div class="content">
                    <span class="icon fa-laptop"></span>
                    <header>
                        <h3>Tempus Feugiat</h3>
                    </header>
                    <p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna lorem ullamcorper laoreet,
                        lectus arcu.</p>
                    <ul class="actions">
                        <li><a href="#" class="button alt">Learn More</a></li>
                    </ul>
                </div>
            </article>
            <article>
                <div class="content">
                    <span class="icon fa-diamond"></span>
                    <header>
                        <h3>Aliquam Nulla</h3>
                    </header>
                    <p>Ut convallis, sem sit amet interdum consectetuer, odio augue aliquam leo, nec dapibus tortor nibh
                        sed.</p>
                    <ul class="actions">
                        <li><a href="#" class="button alt">Learn More</a></li>
                    </ul>
                </div>
            </article>
            <article>
                <div class="content">
                    <span class="icon fa-laptop"></span>
                    <header>
                        <h3>Sed Magna</h3>
                    </header>
                    <p>Suspendisse mauris. Fusce accumsan mollis eros. Pellentesque a diam sit amet mi ullamcorper
                        vehicula.</p>
                    <ul class="actions">
                        <li><a href="#" class="button alt">Learn More</a></li>
                    </ul>
                </div>
            </article>
        </div>
    </section>
{% endblock %}
<section id="footer">
    <div class="inner">
        <header>
            <h2>Contact us</h2>
        </header>
        <div class="copyright">
            <p>&copy; Ivashkevich Maksim</p>
        </div>
    </div>
</section>
<!-- Scripts -->
<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "js/skel.min.js" %}"></script>
<script src="{% static "js/util.js" %}"></script>
<script src="{% static "js/main.js" %}"></script>

</body>
</html>