{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{% static "images/title.png" %}" type="image/icon type">
    <title>{% block title %}Home page{% endblock %}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
    <style>
        div > p > label {
            color: black !important;
            margin-left: 20px;
        }

        div > p > input {
            width: 100% !important;
        }

        a > .image.fit img {
            width: 20%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }


        .i-icon-2 {
            display: inline-block;
            text-transform: none;
            speak: none;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        .Zuza {
            display: grid;
            grid-template-columns: 33% 33% 33%;
            column-gap: 2%;
            justify-items: stretch;
        }
        #space{
            height: 350px;
        }

    </style>

</head>
<body>

<header id="header">
    <div class="inner">
        <a href="/" class="logo">Дипломная работа</a>
        <nav id="nav">
            <a href="/">Домой</a>
            <a href="{% url 'about' %}">О проекте</a>
            <a href="{% url 'email' %}">Обратная связь</a>
        </nav>
    </div>
</header>
<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>
{% block content %}

    <!-- Banner -->
    <section id="banner" style="background-image: url('{% static 'images/brain.jpg' %}')">
        <div class="inner">
            <h1 style="color: #ffffff" align="center">
                Приложение для психологического тестирования с использованием WEB- и Облачных Технологий</h1>
            <ul class="actions">
                <li><a href="{% url 'forms' %}" class="button alt" style="background-color: #444444">Начать</a>
                </li>
            </ul>
        </div>
    </section>
    <!-- One -->
    <section id="one">
        <div class="inner">
            <header>
                <h2>О проекте</h2>
            </header>
            <div style='font-family: "Lato",sant-serif;'>
                <p>Согласно определению Всемирной организации здравоохранения (ВОЗ),
                     Психическое здоровье - это состояние благополучия, в котором человек осознает свои способности,
                     справляется с «жизненными» стрессами, умеет продуктивно и продуктивно работать,
                     и может внести свой вклад в развитие своего сообщества.
                     Также, по данным ВОЗ, психическое здоровье включает «субъективное благополучие, воспринимаемую самореализацию,
                     автономия, компетентность, зависимость от поколения к поколению,
                     и самореализация</p>
                <p>В результате 4-й научно-технической революции, или информационной революции,
                     увеличился процент людей, занимающихся информационными технологиями, «айтишников».
                     В силу особенностей некоторых стран «айтишники» заполнили пустую нишу среднего класса,
                     то есть они стали полноценной прослойкой в стране.
                     Специфика работы создает дополнительные умственные проблемы. Поэтому в последние годы
                     Большое внимание было уделено важности психического здоровья в технологическом секторе.
                     Растет понимание того, насколько широко распространены проблемы психического здоровья в нашем «продолжающемся» мире.
                     Работодатели уделяют больше внимания обеспечению необходимых механизмов поддержки и созданию
                     открытая среда, в которой снимается стигма при обсуждении вопросов психического здоровья.</p>
                <p>Наш алгоритм был успешно обучен и показал отличные результаты на независимой тестовой выборке.
                     А теперь мы даем вам возможность опробовать нашу систему.</p>

            </div>
            <ul class="actions">
                <li><a href="#" class="button alt">Узнать больше</a></li>
            </ul>
        </div>
    </section>

    <!-- Two -->
    <section id="two">
        <div class="inner">
            <article>
                <div class="content">
                    <header>
                        <h3>REST API</h3>
                    </header>
                    <div class="image fit">
                        <img src="{% static "images/r.jpg" %}" alt="My image">
                    </div>
                    <p>На сайте есть api, если вам нужно обработать сразу несколько пациентов и это необходимо сделать быстро
                         быстро.</p>
                </div>
            </article>
            <article class="alt">
                <div class="content">
                    <header>
                        <h3>Дружелюбный интерфейс</h3>
                    </header>
                    <div class="image fit">
                        <img src="{% static "images/ui.png" %}" alt="My  second image">
                    </div>
                    <p>Вы легко можете ввести свои данные и получить результат обработки, ваши данные не попадут в
                         неправильные руки.</p>
                </div>
            </article>
        </div>
    </section>
{% endblock %}
<footer id="footer">
    <div class="inner">
        <header>
            <h2>Связь </h2>
        </header>
        <div class="Zuza">
            <a href="https://www.linkedin.com/in/zeydlitz/" class="button alt" target="_blank"
               style="background-color: #444444; background-color: transparent;">LinkedIN</a>
            <a href="https://github.com/zeydlitz" class="button alt" target="_blank"
               style="background-color: #444444; background-color: transparent;">GitHub</a>
            <a href="https://t.me/le_punir" class="button alt" target="_blank"
               style="background-color: #444444; background-color: transparent;">Telegram</a>
        </div>
        <div class="copyright">
            <p>&copy; Ivashkevich Maksim</p>
        </div>
    </div>
</footer>
<!-- Scripts -->
<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "js/skel.min.js" %}"></script>
<script src="{% static "js/util.js" %}"></script>
<script src="{% static "js/main.js" %}"></script>
<script src="{% static "js/test.js" %}"></script>
<script src="{% static "js/test1.js" %}"></script>
</body>
</html>

