{% extends "home.html" %}
{% load inlinecss %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Block Page{% endblock %}</title>

</head>
<body>
{% block content %}
    {% if sent %}
        <h1>Данные успешно обработаны</h1>
        <p>
            Модель спрогнозировала "{{ response.label }}" и веростность наличия: {{ response.probability }}.
        </p>
        <div id="space">
        </div>
    {% else %}
        <h1>Тестирование</h1>
        <div style="right : 50%;">
            {#    <div style=" padding: 50px;   background: #ccc;   position: fixed; top : 0рх; left : 50рх; padding : 1Opx; margin : Орх; width : 100%;">#}
            <form action="" method="post">{% csrf_token %}
                <div style="color: #0c0c0c !important;">
                    {{ form.as_p }}
                </div>

                <datalist id='datalist'>
                </datalist>
{#                <datalist id='datalist1'>#}
{#                </datalist>#}
{#                <datalist id='datalist2'>#}
{#                </datalist>#}
{#                <datalist id='datalist3'>#}
{#                </datalist>#}
                <input type="submit" value="Save">
            </form>
        </div>

    {% endif %}
{% endblock %}
</body>
</html>