{% extends "home.html" %}
{% load inlinecss %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Block Page{% endblock %}</title>

</style>
</head>
<body>
{% block content %}
    {% if sent %}
        <h1>Data successfully sent</h1>
        <p>
            The model predicted "{{ response.label }}" and his probability availability of have
            HD {{ response.probability }}.
        </p>

    {% else %}
        <h1>New patient</h1>
        <div style="right : 50%;">
            {#    <div style=" padding: 50px;   background: #ccc;   position: fixed; top : 0рх; left : 50рх; padding : 1Opx; margin : Орх; width : 100%;">#}
            <form action="" method="post">{% csrf_token %}
                <div style="color: #0c0c0c !important;">
                     {{ form.as_p }}
                </div>
                <input type="submit" value="Save">
            </form>
        </div>
    {% endif %}
{% endblock %}
</body>
</html>