{% extends "home.html" %}
{%  load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>About</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	</head>
    {% block content %}
	<body>
		<!-- Main -->
			<section id="main" >
				<div class="inner">
					<header class="major special">
						<h1>About</h1>
					</header>
					<a href="#" class="image fit"><img  style=" float: right;  margin: 7px 0 7px 7px;" src="{% static "images/m1.jpg" %}" alt="" /></a>
                    <p>По определению Всемирной организации здравоохранения (ВОЗ), Психическое здоровье – это состояние благополучия,
                        в котором человек реализует свои собственные способности, может справиться с «жизненными» стрессами,
                        может продуктивно и плодотворно работать и способен внести свой вклад в развитие совей общины.
                        Также по данным ВОЗ, психическое здоровье включает в себя «субъективное благополучие,
                        воспринимаемую самореализацию, автономию, компетентность, зависимость между поколениями и
                        самореализацию своего интеллектуального и эмоционального потенциала».

                    </p>
                    <p>
                        С точки зрения позитивной психологии или холизма, психическое здоровье может включать в
                        себя способность человека наслаждаться жизнью и создавать баланс между жизнедеятельностью и усилиями
                        по достижению психологической устойчивости.
                    </p>
                    <p>
                        В последние годы растёт признание важной роли психического здоровья в достижение глобальных целей развития,
                        о чем свидетельствует включение психического здоровья в цели устойчивого развития (ЦУР). Также в рамках ЦУР,
                        в области здравоохранении, есть две вещи напрямую связаны с психическим здоровьем и злоупотреблением
                        психоактивными веществами: «К <strong>2030</strong> году сократить на одну треть преждевременную смертность от
                        неинфекционных заболеваний посредством профилактики и лечения и укрепления психического здоровья
                        и благополучия» и «Усилить профилактику и лечение злоупотребление наркотическими средствами
                        и вредное употребление алкоголя». Принятие ВОЗ комплексного плана действий в области психического
                        здоровья в <strong>2013</strong> году и глобальной стратегии сокращение вредного употребления алкоголя в
                        <strong>2010</strong> году проложило путь для включения вопросов психического здоровья и злоупотребления психоактивными веществами
                        в ЦУР.
                    </p>
				</div>
			</section>
	</body>
{% endblock %}
</html>